{% extends 'secondsite/base.html.twig' %}
{% block title %}Demonstration{% endblock %}
{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 text-center">
                <p class="demo-video h3">Episode #1 Symfony6</p>
                <iframe width="370" height="280" src="https://www.youtube.com/embed/6m2XlIMi9vo"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>

                </iframe>
            </div>
            <div class="col-md-4 text-center">
                <p class="demo-video h3">Episode #2 Symfony6</p>
                <iframe width="370" height="280" src="https://www.youtube.com/embed/G72GiEOMO4M"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div class="col-md-4 text-center">
                <p class="demo-video h3">Episode #3 Symfony6</p>
                <iframe width="370" height="280" src="https://www.youtube.com/embed/JMibcMleVSM"
                        title="YouTube video player" frameborder="2"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>

                </iframe>
            </div>
            <div class="col-md-4 text-center">
                <p class="demo-video h3">Episode #4 Symfony6</p>
                <iframe width="370" height="280" src="https://www.youtube.com/embed/Wn9tpxgG0Ew"
                        title="YouTube video player" frameborder="3"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>

                </iframe>
            </div>

		 <div class="col-md-4 text-center ml-2">
                <p class="demo-video h3">Configurer un serveur VPS</p>
                <iframe width="370" height="280" src="https://www.youtube.com/embed/o1hQRCbNejw" title="YouTube video player" fr"
                        title="YouTube video player" frameborder="3"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"                        allowfullscreen>

                </iframe>
            </div>


        </div>
    </div>
{% endblock %}

