{% extends 'secondsite/base.html.twig' %}
{% block title %}Projest réalisés {% endblock %}
{#{% block carousel %}{% endblock %}#}
{% block body %}
    <div class="container">
        <h3 class=" bg-warning rounded-pill text-center">Quelques projets réalisés auxquels nous avons participés </h3>
    <h3>
	<div class="h5 text-center">
		"SOS-SECURITE" est une application mobile pour le mistère malien de la protection civile. J'ai participé à au développement de cette application chez GROUPE OPSISE en 2022.

	</div>
        <ol class="mt-5">
            <li>
                SOS-SECURITE (DGPC MALI)" <a href="https://apps.apple.com/ml/app/sos-s%C3%A9curit%C3%A9/id1558586368?l=fr"> App mobile sos-securite</a>
            </li>
            <li>
                Présentantion de sos-securite sur JolibaTV" <a href="https://www.facebook.com/watch/?v=584260220202048">SOS-SECURITE</a>
            </li>
           {# <li>
                Site web "Bèko-Féré" <a href="https://www.beko-fere.net/index.php">Bèko-Féré</a>
            </li>#}
        </ol>
    </h3>
    </div>
{% endblock %}


