{% extends 'secondsite/base.html.twig' %}
{% block title %}Projest réalisés {% endblock %}
{#{% block carousel %}{% endblock %}#}
{% block body %}
    <div class="container">
        <h3 class=" bg-warning rounded-pill text-center py-2 mt-2">La liste non-exhaustive de projets réalisés par Super-Agnece-Digitale</h3>
    <h3>
        <ol>
            <li>
                Site web "Petites_Annonces" <a href="http://ismaeldev.fr/">Petites_Annonces</a>
            </li>
            <li>
                Site web "FOFMED" <a href="http://fofmed.com/">FOFMED</a>
            </li>
           {# <li>
                Site web "Bèko-Féré" <a href="https://www.beko-fere.net/index.php">Bèko-Féré</a>
            </li>#}
        </ol>
    </h3>
    </div>
{% endblock %}


