<!-- FOOTER -->

    <footer class="container-fluid footer-per">
        <p class="float-right text-light"><a class="text-light" href="{{ path('produit_index') }}">Back to top</a></p>
        <p class="text-light"><i class="far fa-copyright text-light"></i> 2017-2020 Boutique Malienne <br>
            <smal >La boutique 100% made in Mali <br>
             <a class="text-light" href="#">Privacy</a> &middot; <a class="text-light" href="#">Terms</a>
            </smal>
        </p>
        <div class="mb-2 ">
            <a class="text-light social" href="https://www.facebook.com/ismalsacko">
                <i class="fab fa-facebook fa-2x text-light"></i>
            </a>
            <a href="https://twitter.com/ismaelsacko1" class="text-light">
                <i class="fab fa-twitter fa-2x text-light"></i>
            </a>
            <a href="https://www.linkedin.com/in/isma%C3%A9l-sacko-6a5841151/" class="text-light">
                <i class="fab fa-linkedin fa-2x text-light"></i>
            </a>
            <a class="text-light" href="https://www.youtube.com/channel/UC0eh_RKDPl3_ie49_UPkCzQ?view_as=subscriber" >
                <i class="fab fa-youtube fa-2x text-light"></i>
            </a>
            <a href="https://www.instagram.com/ismael.sacko/?hl=fr" class="text-light">
                <i class="fab fa-instagram fa-2x text-light"></i>
            </a>
            <a href="#" class="text-light" id="i"> <i class="fab fa-snapchat fa-2x text-light"></i></a>
            <a href="https://join.skype.com/invite/pzAKKM3xkIBv" class="text-light">
                <i class="fab fa-skype fa-2x text-light"></i>
            </a>
        </div>
    </footer>

