<footer class="mt-1  text-light py-3 text-center" id="navbarsackola" style=" background-color: rgba(65,105,225)
!important;">
   <p class="h4"><span class="text-light mr-2">Copyright</span><i class="far fa-copyright text-light"></i>
       2017 - {{  date('now') | date('20y') }} <a href="/">
       <span class="text-light"><img class="rounded-circle" style="width: 60px;" src="{{ asset('images/img.png') }}" alt=""></span>
       </a>
       <a class="text-warning ml-3" href="{{ path('home') }}"><i class="fa fa-home"></i></a>
       <a class="text-warning ml-3" href="{{ path('contact') }}"><i class="fa fa-phone"></i></a>
   </p>
   <!-- Add font awesome icons -->
  <div>
      <a class="text-light" href="https://www.facebook.com/ismalsacko">
          <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="https://twitter.com/ismaels
   acko1" class="text-light">
          <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a href="https://www.linkedin.com/in/isma%C3%A9l-sacko-6a5841151/" class="text-light">
          <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a class="text-light" href="https://www.youtube.com/channel/UC0eh_RKDPl3_ie49_UPkCzQ?view_as=subscriber" >
          <i class="fab fa-youtube fa-2x"></i>
      </a>
      <a href="https://www.instagram.com/ismael.sacko/?hl=fr" class="text-light">
          <i class="fab fa-instagram fa-2x"></i>
      </a>
      <a href="#" class="text-light" id="i"> <i class="fab fa-snapchat fa-2x"></i></a>
      <a href="https://join.skype.com/invite/pzAKKM3xkIBv" class="text-light">
          <i class="fab fa-skype fa-2x"></i>
      </a>
  </div>

</footer>
