{% extends 'base.html.twig' %}

{% block title %}Inscription !{% endblock %}

{% block body %}
<div class="container">
  <p>
    <h1 class="text-light text-center mt-3 m-auto col-md-4" id="navbarsackola">Inscription !</h1>
  </p>
    {% if notify %}
        <div class="alert alert-info">
            {{ notify }}
            <hr>
        </div>
    {% endif %}
    <div class="col-md-4 m-auto card-header">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary rounded-pill">S'inscrire</button>
        {{ form_end(form) }}

    </div>
</div>
{% endblock %}
